@main("CC-Hackathon") {

    <div class="cc-searchbar">
        <h2>Select a company to see others with similar technologies</h2>
        <input type="text" id="search">
    </div>

    <script>
        $(document).ready(function(){
            var crunchbase = {};
            $.ajax("/companies/json").then(function(data){
                crunchbase = data.map(function(e){
                    return {
                        id:e.name,
                        text:e.name,
                        category:e.category
                    };
                });
            }).then(function(){
                $("#search").select2({
                    placeholder: "Search for a company",
                    minimumInputLength: 0,
                    data: crunchbase,
                    initSelection: function(element, callback) {
                        val = $(element).select2('val')
                        callback({ id: val, text: val })
                    },
                    query: function (query) {
                        pageSize = 20;
                        items = []
                        more = false;
                        start = (query.page - 1) * pageSize
                        for (var i = 0; i < crunchbase.length; i++) {
                            if (query.matcher(query.term, crunchbase[i].text)) {
                                if (start > 0) {
                                    start--;
                                    continue;
                                }
                                if (items.length >= pageSize) {
                                    more = true;
                                    break;
                                }
                                items.push(crunchbase[i]);
                            }
                        }
                        query.callback({
                            more: more,
                            results: items
                        });
                    },
                    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
                });
                $("#search").on("change", function(e) {
                    company = encodeURIComponent(e.val);
                    window.location.href = 'company/' + company;
                });
            });
        });
    </script>
}
