@main("CC-Hackathon") {

    <div class="row">
        <div class="col-md-4">
            <input type="text" id="search">

        </div>
    </div>

    <script>
        $(document).ready(function(){
            var crunchbase = {};
            $.ajax("/companies/json").then(function(data){
                crunchbase = data.map(function(e){
                    return {
                        id:e.name,
                        text:e.name,
                        category:e.category
                    };
                });
            }).then(function(){
                $("#search").select2({
                    placeholder: "Search for a company or a technology",
                    minimumInputLength: 1,
                    data: crunchbase,
                    initSelection: function(element, callback) {
                        // the input tag has a value attribute preloaded that points to a preselected movie's id
                        // this function resolves that id attribute to an object that select2 can render
                        // using its formatResult renderer - that way the movie name is shown preselected
                        var id=$(element).val();
                        if (id!=="") {
                            $.ajax("http://api.rottentomatoes.com/api/public/v1.0/movies/"+id+".json", {
                                data: {
                                    apikey: "ju6z9mjyajq2djue3gbvv26t"
                                },
                                dataType: "jsonp"
                            }).done(function(data) { callback(data); });
                        }
                    },
                    //formatResult: movieFormatResult, // omitted for brevity, see the source of this page
                    //formatSelection: movieFormatSelection,  // omitted for brevity, see the source of this page
                    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
                });
            });
        });
    </script>
}
