@main("CC-Hackathon") {

    <div class="modal fade" id="addMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Add a message</h3>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="messageField">Message</label>
                            <input type="text" class="form-control" id="messageField" placeholder="Enter message"
                                data-bind="value: messageField"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" data-bind="click: saveMessage">Add message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">

        </div>
    </div>


}
