@(company:String)
@main("CC-Hackathon") {
        <div id="#graph"></div>
    <script>
        $(document).ready(function(){
          var fill = d3.scale.category20();
          $.ajax("/company",{
            method:"POST",
            data:{
                company:"@company"
            }
          }).then(function(result){
              var max =0;
              result.forEach(function(d) {
                max = Math.max(max,d.link);
              });
              var scale = 80 / max;
              console.log(max);
              d3.layout.cloud().size([900, 900])
                  .words(result.map(function(d) {
                    return {text: d.company, size: d.link};
                  }))
                  .padding(5)
                  .rotate(function() { return ~~(Math.random() * 2) * 90; })
                  .font("Impact")
                  .fontSize(function(d) { return d.size * scale; })
                  .on("end", draw)
                  .start();

              function draw(words) {
                d3.select("body").append("svg")
                    .attr("width", 900)
                    .attr("height", 900)
                  .append("g")
                    .attr("transform", "translate(450,450)")
                  .selectAll("text")
                    .data(words)
                  .enter().append("text")
                    .style("font-size", function(d) { return d.size + "px"; })
                    .style("font-family", "Impact")
                    .style("fill", function(d, i) { return fill(i); })
                    .attr("text-anchor", "middle")
                    .attr("transform", function(d) {
                      return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) { return d.text; });
              }
          })
        });
    </script>
}
